<!DOCTYPE html>
<html>
<head>
    <title>JIM</title>
</head>
<body>
    <h1> JIM - Your fitness tracker </h1>

    <div>
    <h2>Select exercise</h2>
    <form action ="/selectExercise">
        <select name="selected">
            <option value=""> Choose Exercise </option>
            {{ #options }}
                <option value="{{ Exercise }}"> {{ Exercise }} </option></a>
            {{ /options }}
        </select> 
        <input type="submit">
    </form>

    <a href="/newExercise">Add Exercise</a>

    {{ #addExercise }}
        <form action="/addExercise">
            <label for="name">Name</label>
            <input type="text" name="name">
            <input type="submit">
        </form>
    {{ /addExercise }}
    </div>

    <div>f

    </div>
</body>
</html>